
.containerTwo{
    padding-bottom: 150px;
    padding-top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.containerTwo .card{
    position: relative;
    width: 700px;
    height: 600px;
    margin: 30px;
    box-shadow: 40px 10px 50px rgba(0,0,0,0.3);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.containerTwo .card .content{
    padding: 13px;
    text-align: center;
    transition: 0.5s;
}

.containerTwo .card .content h2{
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 8em;
    color: transparent;
    background-image: linear-gradient(to left, rgba(0,0,0,0.04),rgba(0,0,0,0.01));
    -webkit-background-clip: text;
    background-clip: text;
    pointer-events: none;
    user-select: none;
}

.containerTwo .card .content h3{
    z-index: 1;
    font-size: 26px;
    user-select: none;
    padding-bottom: 15px;
}

.containerTwo .card .content a{
    user-select: none;
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: black;
}

.containerTwo .card .content a:hover{
    font-size: 16.3px;
    color: rgb(74, 77, 255);;
}

.contact_content_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem;

    place-items: left;
    text-align: left;

    height: 100%;
    max-width: 700px;
}

form{
    user-select: none;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

input{
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 300px;
}

textarea{
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

input:focus {
    outline: none !important;
}

textarea:focus {
    outline: none !important;
}

.contact_content_container form input{
    -webkit-appearance: none;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--contact-text-color);
}

::placeholder { 
    color: var(--contact-text-color);
}

input[type=text], select {
    -webkit-appearance: none;

    font-size: 1.15em;
    font-weight: 300;

    background-color: transparent;
    color: var(--contact-text-color);
    border-bottom: 1px solid var(--contact-text-color);
    padding: 0.5rem;
    
    resize: vertical;
}



input[type=email], select {
    -webkit-appearance: none;
    border: 0px;
    font-size: 1.15em;
    font-weight: 300;
    background-color: transparent;
    color: var(--contact-text-color);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 0.5rem;
    resize: vertical;
}


input[type=text], textarea {
    -webkit-appearance: none;

    min-height: 2.8rem;
    max-height: 18rem;
    font-size: 1.15em;
    font-weight: 300;

    background-color: transparent;
    color: var(--contact-text-color);
    padding: 0.5rem;

    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);

    resize: vertical;
}

textarea::-webkit-scrollbar {
    width: 0.3rem;
}

textarea::-webkit-scrollbar-track {
    background: var(--background-color);
}

textarea::-webkit-scrollbar-thumb {
	background: var(--secondary-text-color);
	border-radius: 15rem;
}

.formbox button{
    background-color: transparent;
    margin: auto;
    border: 1px solid black;
    width: 100px;
    border-radius: 20px;
}

.formbox button:hover{
    margin: auto;
    border: 1px solid rgb(74, 77, 255);
    color: rgb(74, 77, 255);
    width: 102px;
    border-radius: 20px;
}


@media screen and (max-width: 600px){
    .containerTwo .card .content h2{
        font-size: 60px;
        top: -15px;
    }
    .containerTwo .card{
        height: 585px;
    }
    input[type=text], textarea {
        max-height: 14rem;
    }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
}
