body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container{
    text-align: center;   
    padding-top: 30px;
    width: 100%;
    height: 25vh;
}

.container span{
    display: block;
}

.text1{
    user-select: none;
    color: black;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    background: white;
    position: relative;
    animation: text 1s 1 ease-in-out;
}

.text2{
    user-select: none;
    color: black;
    font-size: 25px;
}

@keyframes text{
    0%{
        color: white;
        margin-bottom: -40px;
    }
    60%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    60%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

.containerTwo{
    padding-bottom: 150px;
    padding-top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    animation: card 0.6s ease-in-out;
}

@keyframes card{
    0%{
        margin-top: 500px;
    }
}

.containerTwo .card{
    position: relative;
    width: 240px;
    height: 400px;
    margin: 30px;
    box-shadow: 40px 10px 50px rgba(0,0,0,0.3);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.containerTwo .card .content{
    padding: 13px;
    text-align: center;
    transition: 0.5s;
}

.containerTwo .card .content h2{
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 8em;
    color: transparent;
    background-image: linear-gradient(to left, rgba(0,0,0,0.04),rgba(0,0,0,0.01));
    -webkit-background-clip: text;
    background-clip: text;
    pointer-events: none;
    user-select: none;
}

.containerTwo .card .content h3{
    z-index: 1;
    font-size: 26px;
    user-select: none;
    padding-bottom: 15px;
}

.containerTwo .card .content p{
    font-weight: 100;
    font-size: 16px;
}

.containerTwo .card .content a{
    user-select: none;
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: black;
}

.containerTwo .card .content a:hover{
    font-size: 16.3px;
    color: rgb(74, 77, 255);;
}

@media screen and (max-width: 375px){
    .containerTwo{
        padding-top: 60px;
    }
}



