.main{
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .title{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.main .images{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 30px;
}

.main .images .imageone img{
    width: 200px;
}

.main .images .imagetwo img{
    width: 200px;
}

.main .images .imagethree img{
    width: 200px;
}

.video video{
    padding-top: 20px;
    width: 520px;
}

@media screen and (max-width: 600px){
    .main .images{
        flex-direction: column;
    }

    .video video{
        width: 320px;
        padding-bottom: 200px;
    }

    .main .title h1{
        font-size: 30px;
    }

    footer{
        position: fixed;
    }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
}