*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.nav li, a, button{
    font-weight: 500;
    font-size: 16px;
}

header{
    user-select: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%; 
}

.nav{
    max-height: 1rem;
    justify-content: center;
    gap: 10%;
    display: flex;
    width: 100%;
    list-style-type: none;
}

.nav li{
    text-decoration: none;
    display: inline;
    padding: 0px 20px;
}

.nav li a{
    color: black;
    transition: all 0.3s ease 0s;
}

.nav a{
    color: white;
}

.nav li a:hover{
    font-size: 16.3px;
    color: rgb(74, 77, 255);
}

@media screen and (max-width: 600px){
    .nav{
        gap: 0;
    }
    footer{
        position:relative;
    }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
}

footer{
    z-index: 999;
    margin-top: 29px;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    height: 160px;
    background: rgba(0, 0, 0,0.9);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.links{
    user-select: none;
    display: flex;
    position: relative;
    justify-content: center;
    gap: 40px;
}

footer li,a{
    list-style: none;
    text-decoration: none;
}

.links li a{
    color: white;
    transition: all 0.3s ease 0s;
    font-size: 12px;
    font-weight: 100;
}

.links li a:hover{
    color: rgb(74, 77, 255);
    font-size: 12.5px;
}

.contact{
    padding-top: 10px;
    font-size: 12px;
    text-align: center;
    color: white;
}

.contact span,br{
    user-select: none;
}

.contact a{
    font-size: 12px;
    font-weight: 100;
    text-decoration: underline;
    color: rgb(74, 77, 255);
}

.line{
    margin-top: 20px;
    margin-left: 4%;
    margin-right: 4%;
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 2px solid rgb(75, 75, 75);
}

.copyright{
    font-size: 10px;
    border: flex;
    text-align: center;
    padding-top: 10px;
    color: rgb(102, 102, 102);
    user-select: none;
}

.main{
    height: 100%;
}